body {
  font-family: Lato, Arial, Helvetica, sans-serif;
}

.app-wrapper {
  max-width: 660px;
  margin: 20px auto;
}

.weather-app {
  padding: 30px;
  border: 1px solid #f7f5fc;
  border-radius: 5px;
}
h1 {
  font-weight: 840;
  font-size: 38px;
  color: #272142;
  margin-top: 20px;
  margin-bottom: 10px;
  line-height: 48px;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  color: #a8a5b4;
  font-size: 16px;
  font-weight: 500;
  list-style: none;
  text-transform: capitalize;
  line-height: 24px;
}

.WeatherInfo .temperature-container {
  margin-top: 30px;
}

.weather-temperature img {
  margin-right: 10px;
}

.temperature {
  font-size: 65px;
  font-weight: 700;
  color: #212121;
  margin-left: 10px;
  line-height: 1;
}

.unit {
  color: #212121;
  font-size: 20px;
  font-weight: 400;
  line-height: 1;
  position: relative;
  top: -34px;
}

.weather-temperature .active {
  color: black;
  cursor: default;
}

.weather-temperature .active:hover {
  text-decoration: none;
}
