body {
  font-family: Lato, Arial, Helvetica, sans-serif;
  background: #e8f4f7;
}

.app-wrapper {
  max-width: 660px;
  margin: 20px auto;
}

.weather-app {
  padding: 30px;
  border: 1px solid #f7f5fc;
  border-radius: 16px;
  background: #ffffff;
  box-shadow: 0 30px 50px (65 50 100 /8%);
  color: #878787;
}

.weather-app .form-control {
  background: #e8f4f7;
  border: none;
  padding: 10px;
  color: #a8a5b4;
}

.weather-app .btn {
  background: rgb(48, 192, 232);
  border: none;
  padding: 10px;
}

h1 {
  font-weight: 840;
  font-size: 38px;
  color: #272142;
  margin-top: 20px;
  margin-bottom: 10px;
  line-height: 48px;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  color: #a8a5b4;
  font-size: 16px;
  font-weight: 500;
  list-style: none;
  text-transform: capitalize;
  line-height: 24px;
}

.humidity-color {
  color: rgb(48, 192, 232);
}

.wind-color {
  color: rgb(48, 192, 232);
}

.WeatherInfo .temperature-container {
  margin-top: 30px;
}

.weather-temperature img {
  margin-right: 10px;
}

.temperature {
  font-size: 65px;
  font-weight: 700;
  color: #212121;
  margin-left: 10px;
  line-height: 1;
}

.unit {
  color: #212121;
  font-size: 20px;
  font-weight: 400;
  line-height: 1;
  position: relative;
  top: -34px;
}

.weather-temperature .active {
  color: black;
  cursor: default;
}

.weather-temperature .active:hover {
  text-decoration: none;
}

.weather-forecast {
  margin-top: 40px;
  margin-bottom: -25px;
  text-align: center;
  margin-right: 8px;
}

.weather-forecast-date {
  font-size: 16px;
  color: #a8a5b4;
  opacity: 0.6;
}

.weather-forecast-temps {
  font-size: 13px;
  color: rgb(48, 192, 232);
  text-align: center;
}

.weather-forecast-temp-min {
  opacity: 0.6;
}

.container {
  position: relative;
  margin-top: 100px;
}

.background-video {
  position: absolute;
  object-fit: cover;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
